:root {
    --brand-color: #EF3939;
    --brand-color-dark: #9c2525;
    --background-color: #ffffff;
    --text-color: #856464;
    --devider-light-color: #bbb;
}

.light {
    --fg: #333;
    --links: #c42f2f;
    --sidebar-active: var(--links);
}

.coal {
    --links: #ee6f6f;
    --sidebar-active: var(--links);
}

pre > code {
    border-radius: 5px;
    padding: 1.5rem;
}

.meta-data {
    font-size: 87.5%;
    display: grid;
    grid-template-columns: 70px auto;
    gap: 2rem;
    align-items: flex-start;
    margin: 2rem  0 4rem;
}

.meta-data > div:first-child {
    opacity: 0.5;
}
