.demo-container {
    position: relative;
}

.demo-container > a.demo-source {
    position: absolute;
    right: 10px;
    top: 8px;
    font-size: 12px;
    font-weight: 500;
    z-index: 50;
}

.demo-container > a.demo-source > i.fa {
    font-size: 20px;
    vertical-align: middle;
    margin-left: 5px;
}

.demo-container {
    border-radius: 5px;
    padding: 1.5rem;
    background-color: #f6f7f6;
}

.ayu .demo-container, .navy .demo-container, .coal .demo-container {
    background-color: #1d1f21;
    --background-color: #1d1f21;
    --text-color: #aaaaaa;
}

.demo-container button {
    background-color: var(--brand-color);
    font-family: inherit;
    padding: 3px 15px;
    border: none;
    outline: none;
    color: white;
    margin: 1rem 0;
    border-bottom: 2px solid var(--brand-color-dark);
    text-shadow: 1px 1px 1px var(--brand-color-dark);
    border-radius: 4px;
    font-size: inherit;
    box-sizing: border-box;
    vertical-align: middle;
}

.demo-container button.small {
    border-bottom-width: 1px;
    padding: 1px 10px;
}

.demo-container button:hover:not(:disabled) {
    background-color: var(--brand-color-dark);
}

.demo-container button:active:not(:disabled) {
    border-bottom: 0;
    border-top: 2px solid var(--brand-color-dark);
}

.demo-container button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.demo-container button ~ button {
    margin-left: 0.8rem;
}

.demo-container p {
    margin: 1rem 0;
}

.demo-container .note {
    opacity: 0.7;
    font-size: 1.4rem;
}

.demo-container input[type="text"],
.demo-container input[type="search"],
.demo-container input[type="number"] {
    display: block;
    font-size: 90%;
    padding: .5em 1em .4em;
    border: 1px solid var(--theme-popup-border);
    border-radius: 4px;
    outline: none;
    background: var(--background-color);
    color: var(--text-color);
    min-width: 20rem;
    margin: .5rem 0;
    appearance: none;
}

.demo-container textarea {
    background: var(--bg);
    border: 1px solid var(--theme-popup-border);
}

.demo-container input[type=range],
.demo-container input[type=checkbox] {
    accent-color: var(--brand-color);
}

.demo-container input[type="text"]:focus,
.demo-container input[type="search"]:focus,
.demo-container input[type="number"]:focus,
.demo-container textarea:focus {
    border-color: var(--brand-color);
    outline: 4px solid var(--brand-color-outline);
    outline-offset: 0;
    box-shadow: none;
}

.demo-container input[type="text"]::placeholder,
.demo-container input[type="search"]::placeholder,
.demo-container input[type="number"]::placeholder,
.demo-container textarea::placeholder {
    opacity: 0.7;
}

.demo-container .float {
    position: fixed;
    bottom: 0;
    right: 0;
    border: 1px solid var(--theme-popup-border);
    background: var(--bg);
    z-index: 100;
    min-width: 100px;
}

.demo-container .area {
    border-width: 2px;
    border-style: dashed;
    padding: 1.5rem;
}